:root 
{
	--primaryColor: 255, 102, 0;
	--activeButtonColor: 208, 100, 0;
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	overscroll-behavior: none;
}

body
{
	font-family: monospace;
	font-size: 20px;
	cursor: default;
	user-select: none;
}

h1, h2
{
	text-align: center;
}

.mainTitle
{
	font-size: 3rem;
	font-weight: bolder;
	margin-block: 2rem;
}

main
{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100vw;
}

main > a
{
	width: calc(100vw / 3.5);
	border-radius: 5rem;
	margin: 0.5rem;
	padding: 2rem;
}

main :is(a:link, a:visited, svg)
{
	color: black;
	fill: black;
	text-decoration: none;
}

h1 a
{
	display: flex;
	align-items: center;
}

a > svg
{
	width: 5vw;
	height: 5vh;
	fill: #000;
}

main > a:hover
{
	background-color: #fff;
	box-shadow: inset 0 0 1rem 1rem rgba(200, 200, 200, 0.5);
}

main a:hover, a:hover svg
{
	color: rgb(var(--primaryColor));
	fill: rgb(var(--primaryColor));
}

.WIP h1
{
	color: #000;
}

.WIP h2
{
	display: none;
}

.WIP:hover
{
	box-shadow: inset 0 0 1rem 1rem rgba(255, 0, 0, 0.5);
}

.WIP:hover :is(h1, h2, svg), .errorMessage
{
	display: block;
	color: red;
	fill: red;
}

div > svg
{
	margin: 5rem auto;
	width: 30vh;
	height: 30vh;
}

a > div
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

details 
{
	margin-inline: 2rem 0;
}

div ul
{
	margin-inline: 5rem;
	list-style-type: none;
	padding: 0%;
	margin: 0%;
}

div ul li
{
	margin-inline: 2rem;
}

div a 
{
	text-decoration: none;
}

.summaryTitle 
{
	font-size: 2rem;
	font-weight: bold;
}