nav 
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(var(--primaryColor));
}

nav ul
{
	display: flex;
	justify-content: left;
}

nav > ul > li 
{
	list-style-type: none;
}

nav a 
{
	display: block;
	background-color: rgb(var(--primaryColor));
	color: white;
	text-align: center;
	padding: 20px 25px;
	border: 1px solid rgb(var(--primaryColor));
	text-decoration: none;
}

nav a.active 
{
	background-color: rgb(var(--activeButtonColor));
	border: 1px solid rgb(var(--activeButtonColor));
}

nav a:hover 
{
	background-color: rgb(var(--activeButtonColor));
	border: 1px solid rgb(var(--activeButtonColor));
}