#bolWebsite
{
    height: 30vh;
}

.detailsContent
{
    margin-inline: 4rem;
    width: 50vw;
    overflow-wrap: break-word;
}
summary
{
    font-weight: bold;
    font-size: 1rem;
    margin-inline: 2rem 0;
}

.assignmentNote
{
    margin-inline: 2rem;
    font-weight: bold;
    color: rgb(95, 76, 167);
}

.tables
{
    display: flex;
    gap: 2rem;
}

caption
{
    text-transform: uppercase;
}

table
{
    margin-block: 0 1rem;
    border: 1px solid black;
    text-align: center;
}

.tableRed
{
    background-color: rgba(255, 0, 0, 0.2);
}

.tableBlue
{
    background-color: rgba(0, 0, 255, 0.2);
}

.tableGreen
{
    background-color: rgba(0, 255, 0, 0.2);
}

td
{
    border-bottom: 1px solid black;
}

.tableInventory
{
    margin-inline: 2rem;
    width: 50%;
}

.tableInventory tr:nth-child(2n)
{
    background-color: rgb(199, 238, 241);
}

.tableInventory tr:nth-child(2n+1)
{
    background-color: rgb(227, 246, 248);
}

.tableInventory tr:first-child
{
    background-color: rgb(143, 222, 228);
}