.mainTitle
{
    margin-block: 0 2rem !important;
    padding: 0.5rem;
    background-color: rgb(var(--primaryColor));
    color: white;
}

h1
{
    font-size: 3rem;
    margin-block: 0.5rem;
}

.mainPortfolio
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem;
}

.mainPortfolio > details > details
{
    margin-inline: 2rem;
}

.mainPortfolio > details > details > details
{
    margin-inline: 2rem;
}

p
{
    margin-inline: 2rem;
}

summary
{
    font-size: 2.5rem;
    font-weight: bold;
}

.mainPortfolio > summary
{
    font-size: 1.5rem;
}

embed
{
    width: 60vw;
    height: 80vh;
}

@media (max-width: 768px)
{
    embed
    {
        width: 85vw;
    }
}