.mainPortfolio
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem;
}

.mainPortfolio > details
{
    font-size: 2.5rem;
    font-weight: bold;
}

.mainPortfolio > details > details
{
    margin-inline: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.mainPortfolio embed
{
    width: 50vw;
    height: 600px;
}